.p-datepicker.p-component {
  max-width: 320px;
  width: 320px;
  min-width: 320px;
  border: 1px solid var(--border-color);
  border-radius: var(--container-border-radius);
  background-color: var(--container-medium-color);
  margin-top: 1px;
  padding: 20px;
  box-shadow: var(--container-box-shadow);

  .p-monthpicker,
  .p-yearpicker {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 5px;
    justify-content: center;

    .p-monthpicker-month,
    .p-yearpicker-year {
      width: 30%;
      color: var(--typeface-medium-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .p-datepicker-next,
  .p-datepicker-prev {
    background-color: var(--container-light-color);
    width: 30px;
    height: 30px;
    border: none;
    color: var(--typeface-medium-color);
    border-radius: 50%;
    font-family: 'Material Icons';
    font-size: 25px;

    &:hover {
      background-color: var(--container-medium-color);
      color: var(--typeface-medium-color);
    }
  }

  .p-datepicker-header {
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    background: var(--container-light-color);
    border-radius: var(--container-border-radius);

    .p-datepicker-title {
      color: var(--typeface-medium-color);
      display: flex;

      .p-datepicker-month {
        &:hover {
          color: var(--primary-color);
        }

        &::after {
          content: ' / ';
          color: var(--typeface-medium-color);
        }
      }

      .p-datepicker-year {
        &:hover {
          color: var(--primary-color);
        }
      }
    }

    .p-datepicker-next::after {
      content: 'navigate_next';
    }

    .p-datepicker-prev::before {
      content: 'navigate_before';
    }
  }

  .p-datepicker-calendar-container {
    font-size: 15px;
    border: 1px solid var(--border-color);
    background: var(--container-light-color);
    border-radius: var(--container-border-radius);
    padding: 10px;
    height: 290px;

    .p-datepicker-calendar {
      th,
      td {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        color: var(--typeface-medium-color);
      }

      th {
        height: 30px;
      }

      td {
        width: 41px;
        height: 41px;
        vertical-align: middle;
        border-radius: 50%;

        span,
        span.p-datepicker-today {
          width: 28px;
          height: 28px;
        }

        &.p-datepicker-other-month {
          color: var(--typeface-light-color);
        }

        &.p-datepicker-today {
          span {
            border: 1px solid var(--typeface-light-color);
            border-radius: 50%;
            color: var(--typeface-light-color);
          }
        }

        span {
          &.p-highlight {
            border: 1px solid var(--primary-color);
            border-radius: 50%;
            background-color: var(--primary-color);
            color: var(--typeface-white-color);
          }
        }
      }
    }
  }
}
